.banner{
  
  // background-image: url("/tiger.png");
  height: 50vh;
  // margin-top: 20px;
  display: flex;
  justify-content: center;
  
    object-fit: contain;
    background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg") center center;
    
    .explore_section{
      color: black;
  
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      position: sticky;
      h3{
        margin: 0px;
        font-size: 2.5em;
        font-weight: 900;
        // color: black;
        color: purple;
        
      }
      .await{
       
        color: #FF385C;
      
       }
     
      

      .explore_btn{
        margin-top: 20px;
          text-transform: inherit;
          font-size: 13px;
          background-color: #FF385C ;
         color: white !important;

        &:hover{
            color: #FF385C !important;
            background-color: white;
        }
        &:active{
         
            position:sticky;
            text-align: center;
            box-sizing: border-box;
        }
      }
  }
}

@media only screen and (min-width:780px){
  .banner{
    .explore_section{
      h3{
        font-size: 5em;
      }
      .explore_btn{
        font-size: 20px;
      }
    }
  }
}