.card{
    width: 20em;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    &:hover{
        transform: scale(1.07);
    }
    
    .card_img{
        width: fit-content;
        img{
            object-fit: fill;
            min-width: 300px;
            min-height: 200px;
            width: 100%;
            
        }
    }
    
    .card_footer{
        padding-left: 20px;
        padding-right: 20px;
        h2{
            font-size: 30px;
            font-weight: 900;
        }
        h3{
            font-weight: 500;
            font-size: 18px;
        }
    }
}



// @media only screen and (max-width:768px){
   
   
//         .card_container{
      
            
//             flex: 1;
            
//         }
    
// }