.card {
  width: 20em;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  // box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  border-bottom: 1px solid lightgrey;
  min-height: 300px;

  cursor: pointer;
  &:hover{
    opacity: .8;
}
  .card_img {
    img {
      // object-fit:fill;
      // min-width: 300px;
      // height: 200px;
      // width: 100%;
      // display: block;
      // margin: 0;
      object-fit: cover;
      width: 300px;
      height: 200px;
      // width: 100%;
     
    }
  }

  .card_footer {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
    // padding-left: 20px;
    // padding-right: 20px;
    // padding-bottom: 15px;
    // line-height: 25px;

    .rating {
      display: flex;
      align-items: center;
      span {
        font-size: 18px;
        font-weight: 900;
      }
      .starIcon {
        color: orangered;
      }
    }
    .price {
      font-size: 20px;
      span {
      }
    }
    h2 {
      font-size: 30px;
      font-weight: 900;
    }
    h3 {
      font-weight: 500;
      font-size: 20px;
      margin: 0;
    }
  }
}
