.card_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        &:hover{
           
            
            text-decoration: none;
        }
    } 
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    h2{
        border-bottom: 5px solid ;
        padding: 5px 10px 5px 10px ;
    }
    
    
}

