.footer{
    top: 50px;
    margin-top: 50px;
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    p{
        padding: 5px;
        font-size: 14px;
    }
}